[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
flask = "*"
sklearn = "*"
numpy = "*"
PyMySQL = "*"

[dev-packages]

[requires]
python_version = "3.6"
